.page.theme_dark .header,
.page.theme_dark .button,
.page.theme_dark .header__title,
.page.theme_dark .card-header,
.page.theme_dark .accent-heading {
  color: #ff0070;
}

.page.theme_dark .card,
.page.theme_dark .content {
  background-color: #000028;
}

.page.theme_dark .header__title,
.page.theme_dark .footer__title {
  color: #db00ff;
}

.page.theme_dark .card-text,
.page.theme_dark .paragraph {
  color: #f1b2ce;
}

.page.theme_dark .header__theme-menu-button:hover {
  border-color: #ff007066;
}

.page.theme_dark .section__header,
.page.theme_dark h2,
.page.theme_dark h3 {
  color: #ff0070;
}

.page.theme_dark .decorated-zone::before,
.page.theme_dark .decorated-zone::after {
  border-color: #ff0070;
}

.page.theme_dark .header__theme-menu-button {
  color: #ff0070;
}

.page.theme_dark .header__rec {
  color: #ff0070;
}

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
}
