.page.theme_light {
  --cover-image: url(../images/cover-image-light.png);
  --accent-heading-clr: #ffc2e6;
  --accent-clr: #ff8dcb;
  --heading-clr: #353430;
  --text-clr: #353430;
  --menu-clr: #353430;
  --accent-clr-with-background: #353430;
  --decorative-bracket-clr: #353430;
  --button-hover-clr: #32312d66;
  --rec-decoration-clr: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url(../images/cover-image-light.png);
    --accent-heading-clr: #ffc2e6;
    --accent-clr: #ff8dcb;
    --heading-clr: #353430;
    --text-clr: #353430;
    --menu-clr: #353430;
    --accent-clr-with-background: #353430;
    --decorative-bracket-clr: #353430;
    --button-hover-clr: #32312d66;
    --rec-decoration-clr: transparent;
  }
}
